h1
{color:#00ccff;}

footer
{font-size: 10pt;}
a:link
{color: coral;}
a:visited
{color: darkviolet;}
a:hover
{color: chartreuse;}
a:active
{color: darkmagenta;}
a:focus
{color: fuchsia;}
a{text-decoration:none; font-size: 10pt; font-style: italic;}