/*
*****************************************************************************
Title: CSS page
Use: CSS page for professional website
Author: Alexis Smith
School/Term:  Mizzou SISLT / Spring 2020
Developed: April 12, 2020
Validated by: https://jigsaw.w3.org/css-validator/
Date of Validation: 4/12/2020; 8:30pm
******************************************************************************
*/

* {font-weight:100}

body
{background-color:aliceblue;}

h1
{color:#00ccff; font-size:24pt; font-family:inherit; border-style:dotted; border-width:thin}

h3
{color: dodgerblue; font-size: 16pt;}

p
{font-style:normal;}

body
{margin-top: 15px; margin-bottom: 15px; margin-left: 15px; margin-right: 15px;}
#current {color: darkcyan;}

img {float:right}
div {clear:right}

blockquote
{font-family:cursive}

footer
{font-size: 10pt; border-top-style:dotted; border-top-color:aquamarine; border-top-width:thin; padding-bottom: 5px; padding-top: 5px;}
a:link
{color: darkorchid;}
a:visited
{color:darkviolet;}
a:hover
{color:chartreuse;}
a:active
{color:darkmagenta;}
a:focus
{color:fuchsia;}
a{text-decoration:none; font-size:10pt; font-style:italic;}